<!DOCTYPE html>
<html lang="en" ng-app="finder">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
        <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">

        <script language="Javascript" src="{{ '/style/js/angular.min.js' | url }}"></script>

        <link rel="stylesheet" href="{{ '/style/css/latex.css' | url }}">
        <link rel="stylesheet" href="{{ '/style/css/prism.css' | url }}">
        <link rel="stylesheet" href="{{ '/style/css/index.css' | url }}">
    </head>

    <body ng-controller="PostFinder">
        {% include 'header.njk' %}
        <header>
            <h2>
                {{ title }}...
            </h2>
        </header>

        <main>
            {{ content | safe }}
        </main>

        {% include 'footer.njk' %}


        <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
    </body>

</html>