<!DOCTYPE html>
<html lang="en" ng-app="Blog">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Personal Blog">
    <meta name="keywords" content="blog, shell, linux, dev, coding">
    <meta name="author" content="Si Dao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title> {{ title }}... </title>
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Wellfleet&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{{ '/style/css/index.css' | url }}">

    <script language="Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js"></script>

    <!-- speedlify score -->
    <link rel="stylesheet" href="https://unpkg.com/speedlify-score@1.0.2/speedlify-score.css" media="print" onload="this.media='all'">
    <script src="https://unpkg.com/speedlify-score@1.0.2/speedlify-score.js" async defer></script>
</head>

<body>
    {% include 'header.njk' %}

    {% if title %}
    <header>
        <h2>
            [:] {{ title }}...
        </h2>
    </header>
    {% endif %}

    <main>
        {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <script language="Javascript" src="{{ '/style/js/index.min.js' | url }}"></script>
</body>

</html>
