{% if channel %}

<hr>
<div ng-controller="ngCommentController">
    <a href="javascript:" ng-click="find_comment({{ channel }})">[ Show ]</a> comments
    <ul>
        <li ng-repeat="comment in comments">
            {% raw %}
            [<a href="{{ comment.user.html_url }}" target="_blank">{{ comment.user.login }}</a> - {{ comment.updated_at }}] 
            <a href="{{ comment.html_url }}" target="_blank">{{ comment.body }}</a>
            {% endraw %}
        </li>
    </ul>
    <p ng-bind="warn_message"></p>
    <span ng-if="channel"><a href="{% raw %}{{ channel }}{% endraw %}" target="_blank">[ Join ]</a> discussion</span>
</div>

{% endif %}

<hr>
<div width="100%" style="text-align: right;">
    <speedlify-score speedlify-url="https://www.11ty.dev/speedlify" hash="1bb9ec60" score weight rank rank-change></speedlify-score>
    <small style="color: grey; font-style: italic;">{{ site.footer }}</small>
</div>
