{% if channel %}

<hr>
<div ng-controller="ngCommentController">
    <a href="#" ng-click="find_comment({{ channel }})">[ Show ]</a> comments
    <ul>
        <li ng-repeat="comment in comments">
            {% raw %}
            [<a href="{{ comment.user.html_url }}">{{ comment.user.login }}</a> - {{ comment.updated_at }}] 
            <a href="{{ comment.html_url }}">{{ comment.body }}</a>
            {% endraw %}
        </li>
    </ul>
    <p ng-bind="warn_message"></p>
    <span ng-if="channel"><a href="{% raw %}{{ channel }}{% endraw %}">[ Join ]</a> discussion</span>
</div>

{% endif %}

<hr>
<div width="100%" style="text-align: right;">
    <small style="color: grey; font-style: italic;">{{ site.footer }}</small>
</div>
