html {
  /* FIXME: align with miligram, default it set font size to 60+% */
  font-size: 120%;
}

body,
input {
  font-family: 'Glass Antiqua', cursive;
  line-height: normal;
  color: black
}

p {
  text-align: justify;
}

code {
  font-family: 'Glass Antiqua', cursive;
}

body {
  /* max-width: 120ch; */
  padding-left: 10%;
  padding-right: 10%;
}

