body,
input {
  font-family: 'Biz UDMincho', sans-serif;
}

code {
  font-family: 'Biz UDMincho', monospace !important;
}

body {
  /* max-width: 120ch; */
  padding-left: 10%;
  padding-right: 10%;
}
