html {
  /* FIXME: align with miligram, default it set font size to 60+% */
  font-size: 80%;
}

body,
input {
  font-family: 'Special Elite', sans-serif;
}

code {
  font-family: 'Special Elite', monospace !important;
}

body {
  /* max-width: 120ch; */
  padding-left: 10%;
  padding-right: 10%;
}

