html {
  /* FIXME: align with miligram, default it set font size to 60+% */
  font-size: 80%;
}

body,
input {
  font-family: 'BIZ UDMincho', sans-serif;
  color: black
}

p {
  text-align: justify;
}

code {
  font-family: 'BIZ UDMincho', monospace !important;
}

body {
  /* max-width: 120ch; */
  padding-left: 10%;
  padding-right: 10%;
}

