/* vim: tabstop=2 softtabstop=2 shiftwidth=2 expandtab autoindent */
@charset "UTF-8";

@media (min-width: 576px) {
  body {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1130px;
  }
}

@font-face {
    font-family: "default-1";
    src: url("fonts/default.ttf");
}

* {
  line-height: 1.5;
}

body {
  margin: 0 auto;
  padding: 20px;
  font-family: 'default-1';
}

code {
  background-color: #cdcdcd;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'default-1';
}

li:marker {
  font-family: 'default-1';
  content: '\f531'; /* [ ] */
  font-size: 1.0em;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

table, th, td {
  border: dashed 1px;
  border-collapse: collapse;
}

th {
  text-align: left;
}

