/* vim: tabstop=2 softtabstop=2 shiftwidth=2 expandtab autoindent */

@media (min-width: 576px) {
  body {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1130px;
  }
}

* {
  line-height: 1.2;
  font-family: 'Junicode';
  font-weight: normal !important;
}

body {
  margin: 0 auto;
  padding: 20px;
}

code, code > span, code > span > span {
  font-family: "Lekton", monospace !important;
  font-size: 0.85rem;
}

code {
  background-color: #cdcdcd;
  overflow-x: auto;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}


