@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/v5-font-face.css');

@font-face {
	font-family: 'Typewriter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/typewcond_bold.otf') format('opentype');
}

@font-face {
	font-family: 'Typewriter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/typewcond_regular.otf') format('opentype');
}

@font-face {
	font-family: 'Typewriter';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('fonts/typewcond_demi.otf') format('opentype');
}

@media (min-width: 576px) {
	body {
		max-width: 510px;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 768px) {
	body {
		max-width: 700px;
	}
}

@media (min-width: 992px) {
	body {
		max-width: 920px;
	}
}

@media (min-width: 1200px) {
	body {
		max-width: 1130px;
	}
}

body {
	margin: 0 auto;
	font-family: Typewriter;
	font-size: 150%;
}

pre, code {
	background-color: #cdcdcd;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Typewriter;
}

li.done0::marker {
	font-family: 'Font Awesome 5 Free';
	content: '\f0c8  '; /* [ ] */
	font-size: 1.0em;
}


li.done1::marker {
	font-family: 'Font Awesome 5 Free';
	content: "\f146  "; /* [.] */
	font-size: 1.0em;
}


li.done2::marker {
	font-family: 'Font Awesome 5 Free';
	content: "\f146  "; /* [-] */
	font-size: 1.0em;
}


li.done3::marker {
	font-family: 'Font Awesome 5 Free';
	content: "\f0fe  "; /* [+] */
	font-size: 1.0em;
}

li.done4::marker {
	font-family: 'Font Awesome 5 Free';
	content: "\f14a  "; /* [X] */
	font-size: 1.0em;
}


