---
permalink: 'api/v1.0/titles.en.json'
---
[
    {% for post in collections.posts -%}
        {%- if post.data.lang=='EN' -%}
        {%- if not loop.first -%},{% endif %}
        { "date": "{{ post.date.toISOString() }}", "title": "{{ post.data.title }}", "url": "{{ post.url }}" }
        {%- endif -%}
    {% endfor %}
]
